    <% if @is_returning_info %>

    <h2>
      Hi there! You asked for the rating of <%= @title %>, its rating is: <%= @rating %>
    </h2>

    <% else %>
      <h1> NO RESULTS FOR YOUR SEARCH </h1>
    <% end %>