    <% if @is_returning_info %>

    <H2>
      Hi there! You asked for the rating of <%= @title %>, its rating is: <%= @rating %>
    </H2>

    <% else %>
      <H1> NO RESULTS FOR YOUR SEARCH </H1>
    <% end %>